<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container-fluid mx-3">
        <div class="row justify-content-center my-4">
            <h1 class="display-2">database tables</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 border border-dark">
                <h2 class="display-4 text-center">Authors</h2>
                <table class="table">
                    <tr>
                <!--this will display the list of author ID name and list of books-->
                        <th>Id</th>
                        <th>Name</th>
                        <th>Books</th>
                    <tr th:each="author:${authorList}">
                        <td th:text="${author.authorId}"></td>
                        <td th:text="${author.firstName} + ' ' + ${author.lastName}" ></td>
                        <td>
                            <!--this will display the authors and their books if they have books-->
                            <table th:if="${author.bookList}" class="table-borderless my-0">
                                <tr th:each="book:${author.bookList}">
                                    <td th:text="${book.bookTitle}"></td>
                                </tr>
                            </table>
                            <!--this will display no books from author if there are none under their name-->
                            <table th:if="${author.bookList.empty}" class="table-borderless my-0">
                                <tr >
                                    <td>No books from this author</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tr>
                </table>
            </div>
            <div class="col-7 border border-dark">
                <h2 class="display-4 text-center"> Books </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--this will display a different table with the book id title and the year it came out in-->
                        <tr th:if="${bookList}" th:each="book:${bookList}">
                            <td th:text="${book.bookId}"></td>
                            <td th:text="${book.bookTitle}"></td>
                            <td th:text="${book.year}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>